.titulo{
    text-align: center;
    font-family: monospace;
    margin-top: 90px;
    color: white;
    font-size: 25px;
}
.posicao{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.rodape{
    background-color: white;
    width: 150px;
    font-family: monospace;
    text-align: center;
    color:#325ee2 ;
}